 /*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
} 
html{
    scroll-behavior: smooth;
}
 
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu' sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 5px 0;
    background: #F07200;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.navbar .logo {
 
    width: 70px;
    
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{ 
    display: block;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    align-items: center;
    text-transform: capitalize;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #F07200;
    

}
.navbar.sticky .menu li a:hover{
    color: #fff;

}
/* menu btn styling*/
.menu-btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
   display: none; 
}
.scroll-up-btn{
position: fixed;
height: 45px;
width: 45px;
background: #F07200;
right: 10px;
bottom: 30px;
text-align: center;
line-height: 45px;
color: #fff;
z-index: 9999;
font-size: 30px;
border-radius: 50%;
cursor: pointer;
opacity: 1;
 
transition: all 0.3s ease;
 
}
 .scroll-up-btn.show{
    opacity: 2;
    pointer-events: auto;
 }
 
 
/* home section styling*/
.home{
    display: flex;
    background: url("/images/joe6.jpg") no-repeat center;
    height: 100vh;
    min-height: 500px;
    color: #fff;
    font-family: 'Ubuntu' sans-serif;
     
  
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 45px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-2 span{
    color: #F07200;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
}
.home .home-content .text-3 .typing{
    font-size: 43px;
    margin: 5px 0;
    color: #F07200;
    font-style: normal;
    font-weight: bold;
}
.home .home-content .text-3 {
    font-size: 43px;
    margin: 5px 0;
    
}
.home .home-content a{
    display: inline-block;
    background: #F07200;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 53px;
    border-radius: 35px;
    width: 150px;
    height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 57px;
    border: 1px solid #F07200;
    transition: all 0.3s ease;

    
}
.home .home-content a:hover{
    color: #F07200;
    background: none;
}
/* All similar content styling code */
section{
    padding: 100px 0;
}
.about,
 .services,
 .skills,
 .portfolio,
 .contact{
    font-family: Roboto;
 }
.about .about-content,
 .services .serv-content,
 .skills .skills-content,
 .portfolio .portfolio-content,
 .contact .contact-content,
 .footer .footer-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
 

}
 
section  .title:before{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 500px;
        height: 3px;
        background: #111;
        transform: translateX(-50%);

    }
     
  section .title:after{
      
        position: absolute;
        bottom: -15px;
        left: 50%;
        font-size: 20px;
        color: #F07200;
        padding: 5px;
        background: #fff;
        transform: translateX(-50%);

    }

/* about section styling*/
.about{
     color: #222;
     background: #FFFFFF;
   
 }
    .about .title:after{
        content: "I am a web & mobile developer and I love it!";
    }
 
    .about .about-content .card{
        width: calc(33% - 20px);
        text-align: center;
        padding: 20px 25px;
        cursor: pointer;
    }
    .about .about-content .card1{
        width: calc(33% - 20px);
        text-align: center;
        padding: 20px 25px;
        cursor: pointer;
        font-style: normal;
        font-weight: bold;
         
    }
    .about .about-content .card .mycard{
        width: 300px;
        height: 330px;
        
    
    }
    .about .about-content .card .text{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        font-weight: 500;
        margin: 10px 0 7px 0;
    }
    .about .about-content .card .text span{
        color: #F07200;
    
    }
    .about .about-content .card p{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 29px;
        text-transform: capitalize;
        opacity: 0.6;
    }
 /* Service section styling*/  
 .services {
    background: #111;
     color: #fff;
   
 }
 
 
 .services .title:before{
    background: #FFFFFF;
     width: 200px;
 }
 .services .title:after{
     background: #111;
     content: "What i provide";
 }
 .services .serv-content .card{
     width: calc(33% - 20px);
     background: #222;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
     text-align: center;
     border-radius: 6px;
     padding: 20px 25px;
     cursor: pointer;
     margin: 10px;
 }

.services .serv-content .card i{
    font-size: 50px;
    color: #F07200;
    transition: color 0.3s ease;
}

.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .serv-content .card1 .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .serv-content .card .box{
 transition: all 0.3s ease;
}   
.services .serv-content .card1 .box{
    transition: all 0.3s ease;
   }
   .services .serv-content .card:hover .box{
     transform: scale(1.05);
   }
   .services .serv-content .card1:hover .box{
    transform: scale(1.05);
  }
  .services .serv-content .card:hover{
     background: #F07200;
  }
  .services .serv-content .card1:hover{
    background: #F07200;
 }
 .services .serv-content .card:hover i{
    color: #fff;
 }
 .services .serv-content .card1:hover i{
    color: #fff;
 }
 /* skills section styling*/

.skills{
    color: #111;
  
}
 .skills .title:before{ 
    
     width: 200px;
 }
 .skills .title:after{
     
     content: "What i know";
 }
 .skills .skills-content .col {
    
    width: calc(50% - 30px);
 }
 .skills .skills-content .lef .txt {
     font-size: 20px;
     font-weight: 600;
     margin-bottom: 10px;
     
 }
 .skills .skills-content .lef p{
     text-align: justify;
 }
 .skills .skills-content .lef a{
    display: inline-block;
    background: #F07200;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 53px;
    border-radius: 35px;
    width: 150px;
    height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 7em;
    border: 1px solid #F07200;
    transition: all 0.3s ease;
   

 }
 .skills .skills-content .lef a:hover{
     color: #F07200;
     background: none;
     
     

 }
 .skills .skills-content .righ .bars{
     margin-bottom: 10px;
 }
 .skills .skills-content .righ  .info{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .skills .skills-content .righ span{
     font-weight: 500;
     font-size: 18px;
 }
 .skills .skills-content .righ .line{
     height: 8px;
     width: 100%;
     background: lightgrey;
     position: relative;
 
}
.skills .skills-content .righ .line::after{
   
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
   background: #F07200;
}
.skills-content .righ .html::after{
    width: 50%;
}
.skills-content .righ .css::after{
    width: 40%;
}
.skills-content .righ .js::after{
    width: 30%;
}
.skills-content .righ .html::after{
    width: 50%;
}
.skills-content .righ .html::after{
    width: 50%;
}
.skills-content .righ .html::after{
    width: 50%;
}
.skills-content .righ .html::after{
    width: 50%;
}
.skills-content .righ .html::after{
    width: 50%;
}
.skills .skills-content  canvas {
	background: transparent;
	cursor: grabbing;
	filter: contrast(1.5);
}
.skills .skills-content canvas  img {
	position: absolute;
	z-index: 2;
	display: block;
	left: 0;
	top: 0;
	transform: translate(var(--dx), var(--dy));
	border-radius: 500px;
}
 /* portfolio section styling*/
 .portfolio{
     color: #FFFFFF;
     background: #111;
 }
 .portfolio .title:before{ 
   background: #fff;
     width: 380px;
 }

 .portfolio .title:after{
    background: #111;
     content: "Some of the projects I worked on";
 }
 .portfolio .carousel .card{
     background: #222;
     border-radius: 6px;
     width: 90%;
     height: 30vh;
     text-align: center;
     object-fit: cover;
     transition: all 0.3s ease;
 }
 .portfolio .carousel .card:hover{
     background: #F07200;
 }
 .portfolio .carousel .card .box{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 .portfolio .carousel .card .text{
     font-size: 25px;
     font-weight: 500;
     margin: 25px 0 15px 0;
 }
 .portfolio .portfolio-content .card{
   margin-top: 25px;

 }  

 .portfolio .portfolio-content a{
    display: inline-block;
    background: #F07200;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    border-radius: 35px;
    width: 130px;
    height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 57px;
    border: 1px solid #F07200;
    transition: all 0.3s ease;
    
}
.portfolio .portfolio-content a:hover{
    color: #F07200;
    background: none;
}  
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    width: 13px;
    height: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #F07200 !important;
    transition: all 0.3s ;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    color: #F07200;
}
/* contact section styling*/
 
.contact .title:before{ 
    width: 480px;
}
.contact .title:after{ 
    content: "I am a web & mobile developer and I love it!";
}
.contact .contact-content .column{
    width: calc(33% - 20px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #F07200;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: gray
}
 .contact-map{
    width: 100%;
    height: auto;
    flex: 50%;

}
.contact-map iframe{
    width: 100%;
    height: 100%;
}

.contact .right form .field,
.contact .right form  .field{
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}

.contact .right form .field input{
    height: 100%;
    width: 100;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    border: 0;
    border-bottom: 1px solid grey;
}
 
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px dotted lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 100px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 26px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #F07200;
  border: 2px solid #F07200;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: #F07200;
  background: none;
}

/* .contact .title:before{ 
    width: 480px;
}
.contact .title:after{ 
    content: "I am a web & mobile developer and I love it!";
}
.contact .contact-content .card{
    width: calc(33% - 40px);
}
.contact .contact-content .input-fields .input{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0;
    left: -20px;
    border-bottom: 2px solid grey;
  }
  .contact .contact-content .input-fields .fas, .far{
      color: #F07200;
      font-size: 20px;
  }
  .contact .contact-content .msg .check{
    color: #111;
    font-size: 10px;
    padding: 10px;
} 
.contact .contact-content .msg .send{
    color: #fff;
   text-align: center;
    font-size: 25px;
    margin-bottom: -10px;
    border-radius: 20px;
    border: 0.5px solid #fff;
    width: 120px;
    height: 30px;
    background: #F07200;
   
} 
.contact .contact-content .msg .send:hover{
    color: #F07200;
    background: none;
}
  .contact .contact-content .input-fields label{
      margin-bottom: 8px;
  }
  .contact .contact-content .msg textarea{
    margin: 15px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px dotted grey;
  }
  */
 /* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #F07200;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;

    }
}
@media (max-width: 1104px){

}
@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    

    .menu-btn{
       display: block;
       z-index: 999;

    }
    .menu-btn i.active:before{
        content:"\f00d" ;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: rgb(24, 23, 23);    
        text-align: center;
        padding-top: 80px;  
        transition: all 0.3s ease;

    }
    .navbar .menu.active{
        left: 0;

    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 35px;
       
    }
    .home .home-content .text-2 span{
        font-size: 35px;
       
    }
    .home .home-content .text-3{
        font-size: 33px;
    }
    .home .home-content a{
        font-size: 23px;
        width: 100px;
        height: 30px;
        line-height: 25px;
 
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .card{
        width: calc(50% -10);
        margin-bottom: 20px;
         flex: 100%;
        justify-content: center;
        margin: 0 auto 60px;
    }
     .services .serv-content .card{
        width: calc(50% -10);
        margin-bottom: 20px;
     }
     .services .serv-content .card1{
        width: calc(50% -10);
        margin-bottom: 20px;
    }
    .skills .skills-content .col {
        margin-top: 2em;
        width: calc(50% - 30px);
     }
     .skills .skills-content .lef a{
        margin-top: 2em;
     }
}
@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
 
    .home .home-content .text-2{
        font-size: 25px;
       
    }
    .home .home-content .text-2 span{
        font-size: 25px;
       
    }
    .home .home-content .text-3{
        font-size: 23px;
    }
    .home .home-content a{
        font-size: 18px;
        width: 80px;
        height: 25px;
        line-height: 20px;
 
    }
    .about .about-content .card {
        width: 100%;
    }
    .skills .skills-content .col{
        width: 100%;
        

    }
      .services .serv-content .card{
        width: 100%;
    }
    .services .serv-content .card1{

        width: 100%;
  }
  .contact .contact-content .card{

    width: 100%;
}
}
@media (max-width: 500px){
 
    .home .home-content .text-2{
        font-size: 19px;
       
    }
    .home .home-content .text-2 span{
        font-size: 18px;
       
    }
    .home .home-content .text-3{
        font-size: 14px;
    }
    .home .home-content a{
        font-size: 15px;
        width: 60px;
        height: 20px;
        line-height: 18px;
 
    }

    .about .title{
        font-size: 20px;
      }

}
@media (max-width: 350px){
 
    .home .home-content .text-2{
        font-size: 15px;
       
    }
    .home .home-content .text-2 span{
        font-size: 14px;
       
    }
    .home .home-content .text-3{
        font-size: 10px;
    }
    .home .home-content a{
        font-size: 11px;
        width: 40px;
        height: 15px;
        line-height: 18px;
 
    }
    .max-width{
        width: 100;
    }
    .about .title{
        font-size: 20px;
      }

}